## **INSTALACIÓN Y CARGA DE PAQUETES**

In [ ]:
!pip install  numpy
!pip install  pandas 
!pip install openpyxl
!pip install matplotlib

In [ ]:
import numpy as np
import pandas as pd
import openpyxl
import matplotlib.pyplot as plt
import datetime
from scipy.interpolate import make_interp_spline
from datetime import datetime


from openpyxl import load_workbook
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter, AutoMinorLocator)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **INGRESOS**

In [ ]:
def lee_archivo(nombre):
  path='/content/drive/MyDrive/Fundacion Frontera Economica/Muni/python/inputs'
  filename = path + "/" + nombre.upper() + '.xlsx'

  input_cols=[0,2,5,8] # Columnas a importar
  df = pd.read_excel(filename,
                   header=0,
                   usecols = input_cols, 
                   index_col=False,
                   )
  
  pd.options.display.float_format = '${:0,.0f}'.format
  pd.set_option('display.float_format', lambda x: '%.2f' % x) # elimino notación cientifica


  df.columns = ['n_tasa','c_tasa','ing_mensual','concepto']

  concepto = pd.read_excel('/content/drive/MyDrive/Fundacion Frontera Economica/Muni/python/inputs/Concepto.xlsx')
  df = df.merge(concepto, how='right', on='n_tasa')

  df = df.groupby(by='CONCEPTO', as_index=False).sum() 

  df = df.transpose().drop(['n_tasa'], axis=0)

  df['Periodo'] = nombre
  df = df.set_index('Periodo')
  
  columnas = ['-', 'COMERCIO', 'COPARTICIPACION', 'INGRESOS INDIRECTOS', 'INMUEBLE', 'IPA', 'OTRAS TASAS', 'OTROS INGRESOS']
  df.columns = columnas
  df = df.iloc[1:]

  df.head()
  return df

In [ ]:
def tabla2020(meses2020:list):
    ingresos2020 = pd.concat([lee_archivo(f) for f in meses2020])
    ingresos2020 = ingresos2020.drop(['-'],axis=1)
    ingresos2020["TOTAL"] = ingresos2020.sum(axis=1)

    return ingresos2020

def tabla2021(meses2021:list):
    ingresos2021 = pd.concat([lee_archivo(f) for f in meses2021])
    ingresos2021 = ingresos2021.drop(['-'],axis=1)
    ingresos2021["TOTAL"] = ingresos2021.sum(axis=1)
    
    return ingresos2021

def compilado(ing2020, ing2021):
    ingresos = pd.concat([ing2020, ing2021])
    ingresos["TOTAL"] = ingresos.sum(axis=1)

    return ingresos

In [ ]:
meses2020 = ['ENE-2020','FEB-2020','MAR-2020','ABR-2020','MAY-2020','JUN-2020','JUL-2020','AGO-2020','SEP-2020','OCT-2020','NOV-2020','DIC-2020']
meses2021 = ['ENE-2021','FEB-2021','MAR-2021','ABR-2021']
ingresos = compilado(tabla2020(meses2020),tabla2021(meses2021))
ingresos.head(20)

             COMERCIO COPARTICIPACION  ... OTROS INGRESOS         TOTAL
Periodo                                ...
ENE-2020 140263772.73    157779505.84  ...     6711919.72  836264686.82
FEB-2020 125045144.14    142945183.85  ...     6419258.88  691315331.92
MAR-2020  97323022.04    158394305.12  ...     5775660.65  621014090.06
ABR-2020 120227434.64    116522984.92  ...     1117257.07  512572095.98
MAY-2020 124546276.77    126291534.19  ...     3248575.87  586415341.16
JUN-2020 134911061.63    204273380.76  ...     4709808.04  786653019.84
JUL-2020 137264315.66    177194046.14  ...     5636605.25  756716529.40
AGO-2020 157453939.21    218332017.34  ...     6448034.35  856759935.18
SEP-2020 150351402.70    204993765.34  ...     8311454.90  835741301.28
OCT-2020 164156949.82    218952440.73  ...     7096937.43  877544957.16
NOV-2020 177533323.70    204617606.59  ...     6637942.42  868986367.40
DIC-2020 182120320.45    246071059.56  ...     7284121.75  976607753.80
ENE-2021 204355151.73    258769287.25  ...     8075430.05 1204757100.76
FEB-2021 186616928.00    212013319.79  ...    10624418.96 1100528938.92
MAR-2021 198789567.45    288296641.97  ...     8927773.84 1219494828.30
ABR-2021 230901298.18    272192602.07  ...     9574079.41 1201518079.50

[16 rows x 8 columns]

## **BOCA DE PAGO**

In [ ]:
def bocapago(nombre):
  path='/content/drive/MyDrive/Fundacion Frontera Economica/Muni/BOCAS DE PAGO/Base Historico'
  filename = path + "/" + nombre.upper() + '.xlsx'

  input_cols=[0,1,2,3,4] # Columnas a importar
  df = pd.read_excel(filename,
                   header=0,
                   usecols = input_cols, 
                   index_col=False,
                   )
  
  df.columns = ['n_tasa','Fecha','Lugar','Importe', 'CONCEPTO']
  
  df = df.drop(columns=['Fecha','n_tasa'])

  df = pd.pivot_table(df, values='Importe', index='CONCEPTO', columns='Lugar', aggfunc='sum').fillna(0)
  df = df.assign(Total=df.sum(1))
  df = df.rename(columns={'Total':'TOTAL GENERAL'})
  df = df.rename(index={'Ingresos Directos':'INGRESOS DIRECTOS', 'Inmueble':'INMUEBLE','Comercio':'COMERCIO','Otras Tasas':'OTRAS TASAS','Otros Ingresos':'OTROS INGRESOS'})

  columnas = ['TESORERIA', 'BANCOS', 'IPLYC', 'RAPIPAGOS', 'PAGO FACIL', 'PAGO MIS CUENTAS', 'RED LINK', 'VISA', 'NARANJA', 'MACRO ONLINE', 'PAGOS 360', 'TOTAL GENERAL']
  df.columns = columnas

  df.head()
  return df

In [ ]:
def IACM(nombre):
  path='/content/drive/MyDrive/Fundacion Frontera Economica/Muni/python/inputs'
  filename = path + "/" + nombre.upper() + '.xlsx'

  input_cols=[0,2,5,8] # Columnas a importar
  # Importo los datos
  df = pd.read_excel(filename,
                   header=0,
                   usecols = input_cols, 
                   index_col=False,
                   )
  
  pd.options.display.float_format = '${:0,.0f}'.format
  pd.set_option('display.float_format', lambda x: '%.2f' % x) # elimino notación cientifica

  df.columns = ['n_tasa','c_tasa','ing_mensual','concepto']

  concepto = pd.read_excel('/content/drive/MyDrive/Fundacion Frontera Economica/Muni/python/inputs/Concepto.xlsx')
  df = df.merge(concepto, how='right', on='n_tasa')

  df = df.groupby(by='CONCEPTO', as_index=False).sum() 
  df = df.drop(columns='n_tasa')
  df = df.rename(columns={'ing_mensual':'TOTAL IACM'})
  df = df.fillna(0)

  df.head()
  return df

In [ ]:
df = bocapago('01ENERO2021').merge(IACM('ENE-2021'), how='left', on='CONCEPTO').fillna(0)
df = df.set_index('CONCEPTO')
df['DIFERENCIA'] = df['TOTAL IACM'] - df['TOTAL GENERAL']
df.head()

                    TESORERIA     BANCOS  ...   TOTAL IACM   DIFERENCIA
CONCEPTO                                  ...
COMERCIO          42581763.65   10800.00  ... 204355151.73 135047310.39
INGRESOS DIRECTOS  2902112.88       0.00  ...         0.00  -4109846.08
INMUEBLE          25077716.30       0.00  ...  44640874.61   1539886.56
OTRAS TASAS       12209540.52 3950475.38  ...  24518006.05   7409016.67
OTROS INGRESOS     4340245.15  267075.15  ...   8075430.05    917633.32

[5 rows x 14 columns]